<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gaia3d.persistence.APILogMapper">

	<!-- api log 등록 -->
	<insert id="insertAPILog" parameterType="aPILog" >
		/* insertAPILog */
		<selectKey keyProperty="api_log_id" resultType="long" order="BEFORE">
    		SELECT NEXTVAL('api_log_seq')
  		</selectKey>
		INSERT INTO api_log (
			api_log_id, client_id, client_name, request_ip, user_id, url, status_code, message
		) VALUES (
			#{api_log_id}, #{client_id}, #{client_name}, #{request_ip}, #{user_id}, #{url}, #{status_code}, #{message}
		)
	</insert>
</mapper>