<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gaia3d.persistence.ClientMapper">

	<!-- client 정보를 취득 -->
	<select id="getClientByAPIKey" parameterType="string" resultType="client">
		/* getClientByAPIKey */
		SELECT * FROM client WHERE api_Key = #{api_Key}
	</select>
	
	<!-- client 등록 -->
	<insert id="insertClient" parameterType="client" >
		/* insertClient */
		<selectKey keyProperty="client_id" resultType="int" order="BEFORE">
    		SELECT NEXTVAL('client_seq')
  		</selectKey>
		INSERT INTO client (
			client_id, client_group_id, client_name, client_ip, use_yn, api_key, description
		) VALUES (
			#{client_id}, #{client_group_id}, #{client_name}, #{client_ip}, #{use_yn}, #{api_key}, #{description}
		)
	</insert>

	<!-- client 정보를 취득 -->
	<select id="getClientByClientId" parameterType="integer" resultType="client">
		/* getClientByClientId */
		SELECT * FROM client WHERE client_id = #{client_id}
	</select>
</mapper>