<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gaia3d.persistence.FileMapper">

	<!-- 파일 총 건수 -->
	<select id="getFileTotalCount" parameterType= "fileInfo" resultType="Long">
		/* getFileTotalCount */
		SELECT COUNT(file_info) FROM file_info
	</select>
	
	<!-- 파일 목록 -->
	<select id="getFileList" parameterType="fileInfo" resultType="fileInfo">
		/* getFileList */
		SELECT * FROM file_info
	</select>
	
	<!-- 파일 정보 -->
	<select id="getFileInfo" parameterType="Long" resultType="fileInfo">
		/* getFileInfo */
		SELECT * FROM file_info WHERE file_info_id=#{file_info_id}
	</select>
	
	<!-- 파일 등록 -->
  	<insert id="insertFileInfo" parameterType="fileInfo">
		/* insertFileInfo */
		<selectKey keyProperty="file_info_id" resultType="long" order="BEFORE">
    		SELECT NEXTVAL('file_info_seq')
  		</selectKey>
		INSERT INTO file_info(
			file_info_id, user_id, job_type, file_name, file_real_name, file_path, file_size, file_ext
		) values(
			#{file_info_id}, #{user_id}, #{job_type}, #{file_name}, #{file_real_name}, #{file_path}, #{file_size}, #{file_ext}
		)
	</insert> 
	
	<!-- 파일 정보 수정 -->
	<update id="updateFileInfo" parameterType="fileInfo">
		/* updateFileInfo */
	</update>
	
	<!-- 파일 삭제 -->
	<delete id="deleteFileInfo" parameterType="Long">
		/* deleteFileInfo */
		DELETE FROM file_info WHERE file_info_id=#{file_info_id)
	</delete>

</mapper>