<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gaia3d.persistence.HealthCheckLogMapper">

	<!-- 상태 점검 이력 총 건수 -->
	<select id="getHealthCheckLogTotalCount" parameterType="healthCheckLog" resultType="long">
		/* getHealthCheckLogTotalCount */
		SELECT COUNT(health_check_log_id) 
		FROM health_check_log
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="search_word != null and search_word != '' and search_value != null and search_value != '' and search_option == '0'.toString()">
			AND ${search_word} = #{search_value}
			</if>
			<if test="search_word != null and search_word != '' and search_value != null and search_value != '' and search_option == '1'.toString()">
			AND ${search_word} LIKE '%' || #{search_value} || '%'
			</if>
			<if test="status != null and status != ''">
			AND status = #{status}
			</if>
			<if test="start_date != null and start_date != ''">
			<![CDATA[
			AND insert_date >= TO_TIMESTAMP(#{start_date}, 'YYYYMMDDHH24MISSUS')
			]]>
			</if>
			<if test="end_date != null and end_date != ''">
			<![CDATA[
			AND insert_date <= TO_TIMESTAMP(#{end_date}, 'YYYYMMDDHH24MISSUS')
			]]>
			</if>
		</trim>
	</select>

	<!-- 상태 점검 리스트 조회 -->
	<select id="gethealthCheckList" parameterType="healthCheckLog" resultType="healthCheckLog">
		/* gethealthCheckList */
		SELECT * 
		FROM health_check_log
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="search_word != null and search_word != '' and search_value != null and search_value != '' and search_option == '0'.toString()">
			AND ${search_word} = #{search_value}
			</if>
			<if test="search_word != null and search_word != '' and search_value != null and search_value != '' and search_option == '1'.toString()">
			AND ${search_word} LIKE '%' || #{search_value} || '%'
			</if>
			<if test="status != null and status != ''">
			AND status = #{status}
			</if>
			<if test="start_date != null and start_date != ''">
			<![CDATA[
			AND insert_date >= TO_TIMESTAMP(#{start_date}, 'YYYYMMDDHH24MISSUS')
			]]>
			</if>
			<if test="end_date != null and end_date != ''">
			<![CDATA[
			AND insert_date <= TO_TIMESTAMP(#{end_date}, 'YYYYMMDDHH24MISSUS')
			]]>
			</if>
		</trim>
		<choose>
			<when test="order_word != null and order_word != '' and order_value != null and order_value != ''">
			ORDER BY ${order_word} ${order_value}
			</when>
			<otherwise>
			ORDER BY insert_date DESC, health_check_log_id DESC
			</otherwise>
		</choose>
		OFFSET #{offset} LIMIT #{limit}
	</select>
	
	<!-- 상태 점검 이력 등록 -->
	<insert id="insertHealthCheckLog" parameterType="healthCheckLog">
		/* insertHealthCheckLog */
		<selectKey keyProperty="health_check_log_id" resultType="long" order="BEFORE">
    		SELECT NEXTVAL('health_check_seq')
  		</selectKey>
		INSERT INTO health_check_log (
			health_check_log_id, client_id, client_name, status, status_code, message
		)
		VALUES (
			#{health_check_log_id}, #{client_id}, #{client_name}, #{status}, #{status_code}, #{message}
		)
	</insert>
</mapper>