<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gaia3d.persistence.OrthoImageMapper">

	<!-- ortho image 등록 -->
	<insert id="insertOrthoImage" parameterType="orthoImage" >
		/* insertOrthoImage */
		<selectKey keyProperty="ortho_image_id" resultType="long" order="BEFORE">
    		SELECT NEXTVAL('ortho_image_seq')
  		</selectKey>
		INSERT INTO ortho_image (
			ortho_image_id, transfer_data_id, file_name, file_real_name, file_path, file_size, file_ext
		) VALUES (
			#{ortho_image_id}, #{transfer_data_id}, #{file_name}, #{file_real_name}, #{file_path}, #{file_size}, #{file_ext}
		)
	</insert>
	
</mapper>