<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gaia3d.persistence.TransferDataMapper">

	<!-- transfer data 등록 -->
	<insert id="insertTransferData" parameterType="transferData" >
		/* insertTransferData */
		<selectKey keyProperty="transfer_data_id" resultType="long" order="BEFORE">
    		SELECT NEXTVAL('transfer_data_seq')
  		</selectKey>
		INSERT INTO transfer_data (
			transfer_data_id, drone_project_id, data_type, file_name, detected_objects_count,
			drone_latitude, drone_longitude, drone_altitude, drone_roll, drone_pitch, drone_yaw, 
			shooting_date
		) VALUES (
			#{transfer_data_id}, #{drone_project_id}, #{data_type}, #{file_name}, #{detected_objects_count},
			#{drone_latitude}, #{drone_longitude}, #{drone_altitude}, #{drone_roll}, #{drone_pitch}, #{drone_yaw}, 
			TO_TIMESTAMP(#{shooting_date}, 'YYYYMMDDHH24MISSUS')
		)
	</insert>
	
</mapper>