<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- TODO : 로그인/토큰 기능 추가  -->

<mapper namespace="gaia3d.persistence.UploadMapper">
	<!-- 사용자가 업로드 완료한 파일 총 건수 -->
	<select id="getListUploadLogTotalCount" parameterType="uploadLog" resultType="long">
		/* getListUploadLogTotalCount */
		SELECT COUNT(upload_log_id) 
		FROM upload_log
	</select>
	
	<!-- 사용자가 업로드 완료한 파일 목록 -->
	<select id="getListUploadLog" parameterType="uploadLog" resultType="uploadLog">
		/* getListUploadLog */
		SELECT *
		FROM upload_log 
		OFFSET #{offset} LIMIT #{limit}
	</select>

	<!-- 사용자 업로드 파일 정보 저장 -->
	<insert id="insertFileInfo" parameterType="fileInfo" >
		/* insertFileInfo */
		<selectKey keyProperty="upload_log_id" resultType="long" order="BEFORE">
    		SELECT NEXTVAL('upload_log_seq')
  		</selectKey>
		INSERT INTO upload_log(
			upload_log_id, file_name, file_real_name, file_path, file_size, file_ext
		) values(
			#{upload_log_id}, #{file_name}, #{file_real_name}, #{file_path}, #{file_size}, #{file_ext}
		)
	</insert>
	
</mapper>
