.gradle/4.2.1/taskHistory/taskHistory.lock
.gradle/4.2.1/taskHistory/taskHistory.bin
.gradle/4.2.1/taskHistory/fileSnapshots.bin
.gradle/4.2.1/fileHashes/fileHashes.lock
.gradle/4.2.1/fileHashes/fileHashes.bin
.gradle/4.2.1/fileChanges/last-build.bin
.settings/org.eclipse.buildship.core.prefs
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock
gradlew.bat
gradlew
livedronemap-admin/gradlew
livedronemap-admin/bin/gaia3d/ServletInitializer.class
livedronemap-admin/bin/gaia3d/LivedronemapAdminApplicationTests.class
livedronemap-admin/bin/gaia3d/LivedronemapAdminApplication.class
livedronemap-admin/bin/application.properties
livedronemap-admin/bin/gaia3d/controller/HelloWorldController.class
livedronemap-admin/bin/gaia3d/config/RootConfig.class
livedronemap-admin/bin/gaia3d/config/ServletConfig.class
livedronemap-user/bin/gaia3d/LivedronemapUserApplication.class
livedronemap-user/bin/application.properties
livedronemap-user/bin/gaia3d/ServletInitializer.class
livedronemap-user/bin/gaia3d/LivedronemapUserApplicationTests.class
.gradle/4.3/taskHistory/taskHistory.bin
.gradle/4.3/fileHashes/fileHashes.bin
.gradle/4.3/fileChanges/last-build.bin
.gradle/4.3/taskHistory/taskHistory.lock
.gradle/4.3/fileHashes/fileHashes.lock
.gradle/3.5/taskHistory/taskHistory.lock
.gradle/3.5/file-changes/last-build.bin
