
.subContents > ul > li {
	font-size: 15px;
	margin-bottom: 10px;
	margin-left: 10px;
}

.contents.full > div > h2 {
	margin-bottom: 20px;
}

.center-buttons {
	text-align: center;
}


/* Input Table
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.input-table {
	border: 1px solid #d9d9d9; 
	margin-bottom: 20px;	
}

.input-table th label {	
	font-size: 15px;
	color: #888;
	padding: 0;
	width: auto; }
	
.input-table th {
	color: #888;
	border: 1px solid #d9d9d9;
	background-color: #f5f5f5;
	height: 37px;
	line-height: 37px;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px; }
	
.input-table td {
	color: #666; }
	
.input-table .col-label span:first-child {
	color: #888;
	font-size: 1.3rem; }

.input-table .col-sub-label span:first-child {
	color: #666;
	padding-left: 5px;
	padding-right: 5px; }

.input-table td {
	border: 1px solid #d9d9d9;
	height: 37px;
	line-height: 37px;
	padding-left: 5px;
	padding-right: 5px; }
	
.input-table.scope-col th {
	padding-left: 10px;
	padding-right: 10px; }
	
.input-table.scope-col td {
	padding-left: 10px;
	padding-right: 10px; }
	
.input-table input,
.input-table a.button,
.input-table button,
.input-table label,
.input-table .delimeter,
.input-table .table-desc,
.input-table .icon-glyph,
.input-table span,
.input-table textarea {
	display: block;
	float: left; }
	
.input-table textarea {
	margin-top: 5px;
	margin-bottom: 5px; }
	
.input-table input[type=search],
.input-table input[type=password],
.input-table input[type=text],
.input-table textarea {
	background-color: #fff; }
	
.input-table input[readonly=readonly],
.input-table input[disabled=disabled] {
	background-color: #ececec; }
	
.input-table input[type=text] + .button,
.input-table input[type=text] + button,
.input-table input[type=text] + input[type=submit],
.input-table input[type=text] + input[type=button],
.input-table input[type=text] + input[type=reset],
.input-table input[type=text] + select + .ui-selectmenu-button,
.input-table input[type=text] + input,
.input-table input[type=text] + .table-desc {
	margin-left: 10px; }
	
.input-table input[type=password] + .button,
.input-table input[type=password] + button,
.input-table input[type=password] + input[type=submit],
.input-table input[type=password] + input[type=button],
.input-table input[type=password] + input[type=reset],
.input-table input[type=password] + select + .ui-selectmenu-button,
.input-table input[type=password] + input,
.input-table input[type=password] + .table-desc {
	margin-left: 10px; }
	
.input-table .delimeter {
	width: 20px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	vertical-align: text-bottom; }
	
.input-table .delimeter.at + input {
	margin-right: 10px; }

.input-table input + .button-group input[type=button]:first-child {
	margin-left: 5px; }


.input-table th span,
.input-table input + span,
.input-table .icon-glyph,
.input-table .table-desc,
.input-table .delimeter,
.input-table .image-button {
	line-height: 30px;
	height: 30px; }
	
.input-table.scope-row .col-label .icon-glyph {
	float: right; }
	
.input-table.scope-col th .icon-glyph {
	float: left;
	margin-left: 10px; }
	
.input-table.scope-row .col-input .icon-glyph,
.input-table.scope-row .col-data .icon-glyph {
	line-height: 37px;
	height: 37px;
	padding-right: 5px; }
	
.input-table.scope-col .col-label .icon-glyph {
	float: left;
	margin-left: 10px; }
	
.input-table tr:hover td {
	background-color: #fff; }

/* Simple button */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"],
.ui-dialog .ui-dialog-buttonpane button {
	display: inline-block;
	font-size: 1.2rem;
	height: 30px;
	padding: 6px 10px;
	box-sizing: border-box;
	margin: 0;
	text-align: center;
	color: #fff;
	background: #727272;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
	border: 1px solid #636363;
	cursor: pointer; }


