<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="lazyLoadingEnabled" value="false" />
	</settings>
	
	<typeAliases>
		<typeAlias type="gaia3d.domain.APILog" alias="aPILog"/>
		<typeAlias type="gaia3d.domain.Client" alias="client"/>
		<typeAlias type="gaia3d.domain.DroneProject" alias="droneProject"/>
		<typeAlias type="gaia3d.domain.OrthoDetectedObject" alias="orthoDetectedObject"/>
		<typeAlias type="gaia3d.domain.OrthoImage" alias="orthoImage"/>
		<typeAlias type="gaia3d.domain.Policy" alias="policy"/>
		<typeAlias type="gaia3d.domain.PostProcessingImage" alias="postProcessingImage"/>
		<typeAlias type="gaia3d.domain.Role" alias="role"/>
		<typeAlias type="gaia3d.domain.UserDevice" alias="userDevice"/>
		<typeAlias type="gaia3d.domain.UserGroupRole" alias="userGroupRole"/>
		<typeAlias type="gaia3d.domain.UserInfo" alias="userInfo"/>
		<typeAlias type="gaia3d.domain.UserSession" alias="userSession"/>
		<typeAlias type="gaia3d.domain.TransferData" alias="transferData"/>
		<typeAlias type="gaia3d.domain.TokenLog" alias="tokenLog"/>
		<typeAlias type="gaia3d.domain.ImageMosaic" alias="imageMosaic"/>
	</typeAliases>
	
</configuration>
