<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="lazyLoadingEnabled" value="false" />
	</settings>
	
	<typeAliases>
 		<typeAlias type="gaia3d.domain.Policy" alias="policy"/>
		<typeAlias type="gaia3d.domain.FileInfo" alias="fileInfo"/>
		<typeAlias type="gaia3d.domain.UploadLog" alias="uploadLog"/>
	</typeAliases>
	
</configuration>
